{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      },
      "minify"
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
